services:

  mysqldb:
    container_name: mysqldb
    build:
      context: .
      dockerfile: mysql.Dockerfile
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: ${TESTS_DB}
      MYSQL_ALLOW_EMPTY_PASSWORD: true
    command:
      - '--local-infile=1'
    healthcheck:
      test: "mysqladmin ping -h 127.0.0.1"
      timeout: 20s
      retries: 10
      
  postgresdb:
    container_name: postgresdb
    build:
      context: .
      dockerfile: postgres.Dockerfile
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${TESTS_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test: "pg_isready -d tests"
      timeout: 20s
      retries: 10